body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, rgb(135, 196, 98), white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-content: center;
   
     
}
main{
    background-color: white;
    border: 2px solid black;
    width: 600px;
    height: 1500px;
    border-radius: 25px;
    margin: 0 auto;
    padding: 1.5em;
    box-shadow: 5px 5px;
    
}
h1 {
    color: orange;
    text-align: center;
    text-shadow: 3px 3px black;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0;
}
input:required{
    border-color: green;
    border-width: 3px;
    border-style: solid;
    width: 180px;
}
input{
    width: 90px;

}

label {
    width: 10em; 
    padding-bottom: 0.8em;
    padding-right: 0.8em;
    margin-left: 0;
    float: left;
    text-align: right;
}

legend{
    color: green;
    
}


#buttons{
    margin: auto;
    width: 200px;
}

#data span {
    padding-left: 0.25em; 
}

br {
    clear: left;
}

ul {
    list-style: none;
    padding: 0;
}

.menu > li {
    float: left;
    background: maroon;
    height: 50px;
    width: 120px;
    
}
.menu button {
    display: inline-block;
    background: transparent;
    border-right: 1px solid white;
    color: white;
    font-size: 15px;
    height: 50px;
    text-align: center;
    width: 100%;
    
    
}
.menu button:hover,
.menu button:focus {
    font-style: italic;
    outline: 0;
    color: yellow;
}

.submenu {
    display: none;
    position: absolute;
    padding: 10px;
    background: orange;
    color: white;
    width: 100px;
}

.menu button:focus + .submenu,
.submenu:hover {
    display: block;
}
footer{
    text-align: right;
    font-size: 15px;
}
